{% extends "site_base.html" %}

{% load site_helpers %}

{% block main %}
	<section class="container coloured colour{{ "404"|to_code:16 }}">
		<header>
			<h2>404 - Page not found</h2>
		</header>
		<p>Sorry, but the page you requested could not be found</p>
	</section>

{% endblock %}

