{% extends "site_base.html" %}

{% load pagination_tags %}
{% load site_helpers %}

{% block main %}
	<section class="blog-posts coloured colour{{ "Blog posts"|to_code:16 }}">
		<header>
			<h2>Blog posts</h2>
		</header>
		<div class="squares">
			{% autopaginate posts 9 %}
			{% for post_item in posts %}
			<article class="blog-post square {% if forloop.first %}double-width{% endif %} coloured colour{{ post_item.slug|to_code:16 }}">
					<h3>{{ post_item.title }}</h3>
					<span class="block-link-faker">Read more...</span>
					<a class="block-link" href="{{ post_item.get_absolute_url }}"></a>
				</article>
			{% endfor %}
		</div>
	</section>

	<section class="coloured colour{{ "Things I've made"|to_code:16 }}" id="work">
			<header>
				<h2>Things I've made</h2>
			</header>
			<article>
				<p>
				<strong><a href="/">This blog</a></strong> -
				My personal and geekery blog.</p>
				<p>
				<strong><a href="{% url blog.post slug="continuous-feedback-vim" %}">
					linters.vim
				</a></strong> -
				Continuous feedback in Vim</p>
			</article>
	</section>

	<section class="coloured colour{{ "Work I've done"|to_code:16 }}">
			<header>
				<h2>Work I've done</h2>
			</header>
			<article>

				<p>
					<strong><a href="http://www.tastefestival.com.au/">
						The Taste Festival 2012</a></strong> -
					The website for the Taste Festival in Tasmania, 2012. The
					Taste Festival is one of Tasmanias largest international
					events.
				</p>

				<p>
					<strong><a href="http://ucleavers.com.au/">
						UC Leavers</a></strong> -
					An online tshirt designer for a local company. Aimed at
					school leavers, students can design a shirt, jumper or
					hoodie online using a JavaScript interface
				</p>

				<p>
				<strong><a href="{% url blog.post slug="continuous-feedback-vim" %}">
					linters.vim
				</a></strong> -
				Continuous feedback in Vim</p>
			</article>
		</section>
		<section class="coloured colour{{ "Around the web"|to_code:16 }}" id="me">
			<header>
				<h2>Around the web</h2>
			</header>
			<article>
				<p>
					I'm <a href="http://twitter.com/tim_heap">@tim_heap</a>
					on Twitter. 
				</p>
				<p>
					My code is up on
					<a href="https://github.com/maelstrom/">GitHub</a> and
					<a href="http://bitbucket.org/tim_heap">Bitbucket</a>.
				</p>
				<p>
					I'm employed by (but do not blog for)
					<a href="http://ionata.com.au">Ionata Web Solutions</a>.
				</p>
			   </ul>
			</article>
		</section>
	</div>

{% endblock %}
