{% load site_helpers %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-AU" lang="en-AU">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>
		{% block title_base %}
			{% block title %}Welcome{% endblock %}
			- Tim Heap
		{% endblock %}
	</title>

	<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
	<link rel="alternate" type="application/rss+xml" href="{% url blog.feed %}" />
	<link rel="stylesheet" href="{{ STATIC_URL }}style.css" />

	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="480">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="container coloured colour{{ "Tim"|to_code:16 }}">
		{% block header_base %}
			<header class="page-header">
				{% block header %}
					<h1><a href="{% url home %}">Tim</a></h1>
					<nav class="site"><ul>
						<li><a href="{% url blog.index %}">Blog</a></li>
						<li><a href="{% url home %}#work">Work</a></li>
						<li><a href="{% url home %}#me">Me</a></li>
					</ul></nav>
				{% endblock %}
			</header>
		{% endblock %}
	</div>

	<div class="container body-content">
		{% block main %}
		{% endblock %}
	</div>

	<footer class='container site-footer coloured colour{{ "Footer"|to_code:16 }}'>
		<div class='row'>

			<section id="site-meta">
				<ul id="site-links">
					<li><a href="/" class="">Home</a></li>
					<li><a href="{% url blog.index %}" class="">Blog</a></li>
					<li><a href="{% url blog.feed %}" class="">RSS</a></li>
				</ul>

				<p class="copyright">&copy; {% now "Y" %} Tim Heap</p>
			</section>

			<section id="site-external">
				<ul>
					<li>Find me <a href="http://twitter.com/tim_heap">on Twitter</a>.</li>
					<li>I put code up on <a href="https://github.com/maelstrom/">GitHub</a> and <a href="http://bitbucket.org/tim_heap">Bitbucket</a>.</li>
					<li>I'm employed by (but do not blog for) <a href="http://ionata.com.au">Ionata Web Solutions</a>.</li>
			   </ul>

				<p class="technology">Built on
					<a href="http://heroku.com">Heroku</a>, running
					<a href="http://djangoproject.com">Django</a>, using
					<a href="http://bitbucket.org/tim_heap/blog">git</a>
				</p>
			</section>

		</div>
	</footer>

<script>
window.TH = {
	ENV: {
		STATIC_URL: '{{ STATIC_URL }}'
	}
};
</script>
<script src="{{ STATIC_URL}}libs/pretty/prettify.js"></script>
<script>prettyPrint()</script>

	{% if not debug and not user.is_staff %}
<script>
function woopraReady(tracker) {
    tracker.setDomain('{{ site.domain }}');
    tracker.setIdleTimeout(300000);
    tracker.trackPageview({type:'pageview',url:window.location.pathname+window.location.search,title:document.title});
    return false;
}

(function(d, w, s) {
    w = d.createElement('script');
    w.src = d.location.protocol+'//static.woopra.com/js/woopra.js';
    w.type = 'text/javascript';
    w.async = true;

	s = d.getElementsByTagName('script')[0] ;
	s.parentNode.insertBefore(w, s);
})(document);
</script>
	{% endif %}

</body>
</html>
