{% if is_paginated %}
{% load i18n %}
<footer class="pagination">
	{% if page_obj.has_previous %}
		<a href="?page={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}" class="prev">&lsaquo;&lsaquo; {% trans "previous" %}</a>
	{% else %}
		<span class="disabled prev">&lsaquo;&lsaquo; {% trans "previous" %}</span>
	{% endif %}
	{% for page in pages %}
		{% if page %}
			{% ifequal page page_obj.number %}
				<span class="current page">{{ page }}</span>
			{% else %}
				<a href="?page={{ page }}{{ getvars }}{{ hashtag }}" class="page">{{ page }}</a>
			{% endifequal %}
		{% else %}
			...
		{% endif %}
	{% endfor %}
	{% if page_obj.has_next %}
		<a href="?page={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}" class="next">{% trans "next" %} &rsaquo;&rsaquo;</a>
	{% else %}
		<span class="disabled next">{% trans "next" %} &rsaquo;&rsaquo;</span>
	{% endif %}
</footer>
{% endif %}
