{% load site_helpers %}

	<article class="content blog-post coloured colour{{ post.slug|to_code:16 }}">

		<header>
			<h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
			<div class="blog-post-meta">
				Posted
				<span class="permalink hipster-date" title="{{ post.created|date:"Y-m-d H:i O" }}">
					{{ post.created|timesince }}
				</span>
				ago
			</div>
		</header>

		<aside class='meta'>


            {% if post.series %}
                <p class='link series'>
                    This is a post in the series
                    <a href='{{ post.series.get_absolute_url }}'>{{ post.series.name }}</a>
                </p>
            {% endif %}

		</aside>

		<div class="copy">{{ post.body_html|safe }}</div>

	</article>
